In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('train.csv')

In [9]:
data.to_csv('titanic.csv', sep='$', index=False)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
data.Survived.sum()

342

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
data.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

что вывести
- количество выживших
- средний возраст человека в каждом Pclass
- средний возраст незамужней девушки (Name -> Miss sum(Age)/n(Age))

In [22]:
def miss(s):
    if ', Miss.' in s:
        return 'Miss'
    elif ', Mrs.' in s:
        return 'Mrs'
    elif ', Mr.' in s or ', Master.' or ', Don.':
        return 'Mr'
    else:
        return 'None'

In [23]:
data['Miss'] = data.Name.apply(miss)

In [24]:
data['Miss'].describe(include='all')

count     891
unique      3
top        Mr
freq      584
Name: Miss, dtype: object

In [20]:
data[data.Miss == 'None']

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Miss]
Index: []

In [15]:
from collections import Counter
Counter(data['Miss'])

Counter({'Mr': 517, 'Mrs': 125, 'Miss': 182, 'None': 67})

In [25]:
data.groupby('Miss')['Age'].mean()

Miss
Miss    21.773973
Mr      30.759065
Mrs     35.898148
Name: Age, dtype: float64

In [26]:
data['n_closest'] = data['SibSp'] + data['Parch']

In [27]:
data['n_closest'].max()

10